 img{
    width: 60%;
    align-items: center;
}

hr{
        top: 20px;
        border: none;
        height: 12px;
        background: black;
        margin-bottom: 50px;
}
.brand{
    margin-left: 10%;
    color: white;
}
.feed{
    display: block;
    align-items: center;
    justify-content: center;
  
    width: auto;
}
.card{
    padding: 5px 10px;
}
.nav{
    color: white;
}

.news{
    display: flex;
    justify-content: center;
}
#feed{
    justify-content: center;
    margin-top: 15px;
}
#first-row{

height: max-content;
display: block;
margin: 0px;
padding: 10px 20px;
align-items: center;

text-align: left;
}
#first-row h2{
    color: red;
}
.danger{
    color: rgb(209, 56, 56);
    font-weight: 700;
    margin-left: 50px;
 
}

#first-row img{ 
    width: 100%;
    padding-right: 10px;
    }
#second-row{

    height: max-content;
    color: black;
    margin: 0px;
    padding-top: 10px;
    }
#second-row a{
    color: black;
}

#subNav-Title{
    font-weight: 700;
    padding: 0px 100px 
}
/* mustsee */
.hrdivider {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .navbar-brand img{
      margin-left: 15px;
      width: 50%;
  }
  .hrdivider h2{
    position: absolute;
    top: -15px;
    background: #fff;
    padding: 0 0px;
    font-weight: bold;
    font-size: 25px;
  }
  .feed, #LatestNews, #MostRead, #mustSee, #sports{
    margin-top: 60px;
}
/* ==== MostRead ==== */
#MostRead span{
font-size:xx-large;
font-weight: 700;
color: red;
margin-right: 20px;
}
#MostRead a{
    color: black;
    padding: -12px 5px;
    font-size: medium;
}

#MostRead a:hover{
    color: red;
    
}


@media (max-width: 650px) { 

.carousel-caption {
    display: none;
}

.card{
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.img-fluid{
    display: none;
}
   
}
@media (max-width: 1000px) { 
    .img-fluid{
        display: none;
    }
}
 @media (max-width: 850px) { 
    #first-row{
        display: block;
        }
        #first-row img{ 
        width: 100%;
        }
    #second-row{
        display: none;
 }
 .feed{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    width: auto;
}

}
 